.App {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  
  background: var(--bgColor);

  background-image: url('./images/malik-skydsgaard-zjef0ySnFdo-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: hard-light;
  mix-blend-mode: screen;

  color: var(--lightgrey);
  font-family: var(--fontText);
}

::selection,
::-moz-selection {
  background: var(--accent2);
  color: var(--lightgrey) !important;
}
